.menu__email {
  max-width: 141px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  margin: 0 24px 0 0;
}

@media screen and (max-width: 649px) and (min-width: 320px) {
  .menu__email {
    margin: 0;
  }
}
